.photo {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.photo img {
  display: block;
}
.photo:hover {
  background-color: #eee;
}
